html {
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 1.4;
}

.promo {
    padding-top: 177px;
    padding-bottom: 50px;
    background-image:
    linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%),
    url("/Rectangle\ 2.jpg");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    color: white;
    min-height: 100vh;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.promo-sub {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 1.2;
    margin-bottom: 50px;

}

.promo-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 144px;
    line-height: 176px;
    margin-bottom: 116px;

}

.link {
    display: inline-block;
    max-width: 370px;
    width: 100%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 30px 60px;
    border: 1px solid white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

}